@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    position: absolute;
    height: 100vh;
    width: 100%;
    background: #F3FEFF;
}
.container{
    width: 100%;
    height: 100vh;

}
.nav_bar{
width: 100%;
height: 100px;
background: cadetblue;
}
.image{
    position: absolute;
    width: 102.52px;
    height: 37.37px;
    left: 149px;

}
.navbar_text{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    top: 47px;


}
.text{
    font-family: Work Sans;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 160%;
justify-content: space-between;
position: absolute;
top: 47px;
left: 447px;
display: flex;
justify-content: space-between;
}
.navbar_btn{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 15px 30px;
position: absolute;
left: 442px;
width: 120px;
height: 49px;
background: #35AFBF;
border-radius: 6px;
}
.txt{
    position: absolute;
width: 1440px;
height: 800px;
left: 0px;
top: 0px;
background: #F3FEFF;
}
.image_two{
    position: absolute;
width: 1440px;
height: 800px;
left: 0px;
top: 0px;

background: #F3FEFF;
}